# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
venv/
ven2/

# IDE/editor settings
.idea/
.vscode/

# Logs and output
*.log
*.db
*.sqlite3
prediction_output/
research/

# Deployment and setup scripts
setup.py
push_data.py
application.py
main.py
template.py

# Git-related
.git
.gitignore

